body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    padding-bottom: 600px; /* remover no final */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
ul,
p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

img[src$=".jpg"] {
    border-radius: 4px;
}