.header-bg {
    background-color: #000;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu li {
    display: inline-block;
    padding: 16px 0;
    color: #fff;
    font-size: 18px;
    position: relative;
    font-family: 'Poppins';
    font-weight: 400;
}

.header-menu li:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #fff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu li:hover:after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }

    .header-menu li {
        background-color: #111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu li:hover {
        background: #2E2E2E;
    }

    .header li:after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }

    .header-menu li {
        padding: 8px 12px;
        font-size: 14px;
    }
}